BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Attach

ColumnLimit: 100

SpaceBeforeParens: Never
SpaceBeforeAssignmentOperators: true
SpacesInParentheses: false
SpacesInSquareBrackets: false

SortIncludes: true
IncludeBlocks: Regroup
